@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

$color1:white;
$colorNav: #FFF6F8;
$color2:#E7B7C1;
$color3:#e8c2ca;
$cletra1: black;
$cletra2: rgba(0,0,0,0.7);
$cletra3:rgba(52, 58, 64, 0.7);



* {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    height: 80px;
    padding-left: 67px;
}

.nav-item {
    background-color: $colorNav;
}

#pading1 {
    padding: 20px;
}

#pading2 {
    padding: 20px;
}

#pading3 {
    padding: 20px;
}

#pading4 {
    padding: 20px;
}

.bg-color {
    background-color: $color1;
}

.carousel-inner {
    width: 100%;
    height: 650px;

    img{
        width: 95%;
        height: 100%; 
    }
}


.carousel-indicators {
    background-color: $colorNav;
}

#pBarraCarousel {
    position: relative;
}

.seccionNuevosProductos {
    width: 100%;

}

.nuevosProductos {
    width: 50%;
    height: 400px;
    background-color: $color2;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tituloNewIn {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
       text-decoration: none;
        color: $cletra1;
    }
}

.newIn {
    font-size: 70px;
    font-family: 'Lora', serif;
    color: $color1;
    font-style: italic;
    
}
.newIn:hover {
        transform: scale(1.2);
        transition: all 0.5s;
}

.imgNuevoProducto {
    width: 50%;
    height: 100%;
    background-color: $color1;
    line-height: 400px;
    text-align: center;

    img {
        width: 70%;
        height: auto;
        vertical-align:middle;
    }
}

.tituloMiniColeccion {
    text-align: center;
    font-style: italic;
    font-size: 40px;
    margin-top: 30px;
    background-color: $colorNav;
    color: $cletra3;
    margin-left: 400px;
    margin-right: 400px;
}

.miniColeccion {
    height: auto;
}

.coleccion img {
    width: 350px;
    height: 550px;
    padding-top: 25px;
}

.verMas {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.botonVerMas {
    text-decoration: none;
    font-size: 17px;
    font-style: italic;
    border: 2px solid $color1;
    background-color: $colorNav;
    color:$cletra3;
}

.botonVerMas:hover {
    text-decoration: none;
    color: $cletra1;
}

.redesSociales {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 50px;
    
    a {
        text-decoration: none;
    }
}

.instagramHome span {
    background-color: $color3;
    font-size: 30px;
    color:$color1;
}
.instagramHome:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

.instagramSeguinos {
    font-size: 20px;
    font-family: 'Lora', serif;
}

footer {
    grid-area: footer;
    width: 100%;
    height: 180px;
    background-color: $colorNav;
    display: grid;
    grid-template-areas:
        "NavFooter NavFooter"
        "Datos Datos"
        "copyRight copyRight";
}

.navFooter {
    width: 100%;
    height: 1.5%;
    text-align: center;
    grid-area: NavFooter;

    a {
     text-decoration: none;
     font-size: 11px;
     color: $cletra1;
    }

    li {
        display: inline-block;
        width: 8%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.datosFooter {
    grid-area: Datos;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 13px;
    }
}

.contactanos {
    margin-right: 60px;
}

.datosContactanos {
    text-align: center;
    font-size: 10px;
    height: 60px;
    
    p {
        margin-bottom: 5px;
    }
}

.copyRight {
    margin-bottom: 2px;
    margin-top: 10px;
    font-size: 11px;
    margin-left: 8px;
    grid-area: copyRight;
}

/* css titulo secciones */

.tituloSeccion {
    font-size: 25px;
    text-align: center;
    font-family: 'Petit Formal Script', cursiva;
    font-style: italic;
    background-color: $colorNav;
    padding-top: 0px;
    margin-left: 400px;
    margin-right: 400px;
    color: $cletra2;

}

@media only screen and (min-width:700px) and (max-width: 1250px) {
    .tituloSeccion {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media only screen and (min-width:300px) and (max-width: 700px) {
    .tituloSeccion {
        margin-left: 90px;
        margin-right: 90px;
    }
}

/* CSS PRODUCTOS */
.igProd a {
    text-decoration: none;
}

.instagramProductos {
    grid-area: instagram;
    font-size: 20px;
    text-align: right;
    padding-right: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: $color2;

}

/* css CONTACTO */
.formularioContacto {
    margin-left: 5px;
    margin-right: 5px;
}

div textarea {
    height: 150px;
    width: 100%;
}

.enviar {
    text-align: center;
    margin-bottom: 10px;
}

.botonEnviar {
    background-color: $color3;
    border: none;
}

.botonEnviar:hover {
    color:$color3;
    background-color:$color1;
    border: 2px solid $color3;
}


/* media de footer y logo */
@media only screen and (min-width:300px) and (max-width: 500px) {
    .navbar-brand img {
        height: 70px;
    }
    
    .navFooter a {
        font-size: 10px;
    }
    .navFooter li {
        width: 15%;
    }
}
@media only screen and (min-width:500px) and (max-width: 700px) {
    .navFooter a {
        font-size: 11px;
    }
    .navFooter li {
        width: 10%;
    }
}

/* media de HOME */
@media only screen and (min-width:1300px) and (max-width:1400px) {
    .carousel-inner {
        width: 100%;
        height: 600px;
    }
}
@media only screen and (min-width:1200px) and (max-width:1300px) {
    .carousel-inner {
        width: 100%;
        height: 545px;
    }
    .nuevosProductos{
        height: 350px;
    }
    .imgNuevoProducto{
        line-height: 350px;
    }
}
@media only screen and (min-width:1100px) and (max-width:1200px) {
    .carousel-inner {
        width: 100%;
        height: 500px;
    }
    .nuevosProductos{
        height: 350px;
    }
    .imgNuevoProducto{
        line-height: 350px;
    }
    .coleccion img {
        width: 300px;
        height: 450px;
        padding-top: 30px;
    }
}

@media only screen and (min-width:900px) and (max-width:1100px) {
    .carousel-inner {
        width: 100%;
        height: 410px;
        margin-bottom: 10px;
    }
    .nuevosProductos{
        height: 300px;
    }
    .imgNuevoProducto{
        line-height: 300px;
    }
    .imgNuevoProducto img{
        width: 80%;
    }
    .tituloMiniColeccion {
        font-size: 30px;
        margin-top: 40px;
        margin-left: 200px;
        margin-right: 200px;
    }
    .coleccion img {
        width: 300px;
        height: 450px;
        padding-top: 30px;
    }
}

@media only screen and (min-width:700px) and (max-width:900px) {
    .carousel-inner {
        width: 100%;
        height: 350px;
        margin-bottom: 10px;
    }
    .nuevosProductos{
        height: 300px;
        width: 60%;
    }
    .imgNuevoProducto{
        line-height: 300px;
    }
    .newIn {
        font-size: 60px;
    }

    .imgNuevoProducto img{
        width: 85%;
    }
    .tituloMiniColeccion {
        font-size: 30px;
        margin-top: 50px;
        margin-left: 190px;
        margin-right: 190px;
    }
    .coleccion img {
        width: 300px;
        height: 450px;
        padding-top: 30px;
    }
}
@media only screen and (min-width:500px) and (max-width:700px) {
    .carousel-inner {
        width: 100%;
        height: 270px;
        margin-bottom: 10px;
    }
    .nuevosProductos{
        width: 70%;
        height: 250px;
    }
    .imgNuevoProducto{
        line-height: 250px;
    }
    .newIn {
        font-size: 50px;
    }

    .imgNuevoProducto img{
        width: 80%;
    }
    .tituloMiniColeccion {
        font-size: 25px;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media only screen and (min-width:320px) and (max-width:500px) {
    .carousel-inner {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
    .nuevosProductos{
        width: 70%;
        height: 200px;
    }
    .imgNuevoProducto{
        line-height: 200px;
    }
    .newIn {
        font-size: 40px;
    }

    .imgNuevoProducto img{
        width: 80%;
    }
    .tituloMiniColeccion {
        font-size: 15px;
        margin-top: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .coleccion img {
        width: 250px;
        height: 400px;
        padding-top: 30px;
    }
}